# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.li

# Executables
*.out
*.app
main

#Custom 
vm
cli
vmaware
tmp
test
tmp.cpp
src/vmtest.cpp
archive/
.vscode/
build/
milestones.md
bin/
notes.md
private/
resources/
releases/
release_notes.txt
*.bk
cmake-build-*/
.idea/*
*.bkp
*copy.hpp
personal_todo.md
notes.txt
auxiliary/test_template.cpp
release_notes.md
src/gui/lib/*
pafish/
list.txt
/.vs
/.vs/CMake Overview
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
TODO.md
auxiliary/path*
packages/