# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.li

# Executables
*.exe
*.out
*.app
main

#Custom 
vm
cli
vmaware
tmp
test
tmp.cpp
src/vmtest.cpp
archive/
.vscode/
build/
milestones.md
bin/
src/*.asm
src/*.cu
notes.md
private/